@import "../../../assets/styles/fonts";
@import "../../../assets/styles/variables";

.popup-input-error{
  font-weight: 400;
  font-size: 11px;
  color: #c21010;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}


.popup {
  width: 727px;
  height: 489px;
  background-color: #fff;
  position: relative;
  z-index: 101;
  top: calc(50% - 244px);
  left: calc(50% - 363px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .close-action {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .popup-main {
    .popup-header {
      text-align: center;
      font-weight: 400;
      font-size: 38px;
      line-height: 130%;
      color: #709fdc;
      font-family: 'Lora', sans-serif;
      margin-bottom: 20px;
    }

    .popup-inputs {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 20px;

      .popup-input input, select {
        font-weight: 400;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        color: #709fdc;

        box-sizing: border-box;
        border: 1.50px solid #709fdc;
        border-radius: 3px;
        width: 422px;
        padding: 17px 20px;
      }

    }

    .popup-action {
      button {
        font-weight: 400;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        width: 422px;
        padding: 15px;

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

      }
    }

    .error-message {
      margin-top: 10px;
      font-size: 11px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      color: #c21010;
    }
  }


  .popup-thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .popup-thanks-title {
      font-weight: 400;
      font-size: 38px;
      text-align: center;
      font-family: 'Lora', sans-serif;
      color: #709fdc;
      margin-bottom: 20px;
    }

    .popup-thanks-text {
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      color: $dark-text-color;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 40px;
    }

    .popup-thanks-action {
      .popup-thanks-button {
        padding: 10px 20px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
      }
    }
  }
}
